<div data-hook="admin_social_methods_form_fields">
  <div class="alpha four columns">
    <div class="field">
      <%= f.field_container :environment do %>
        <%= label_tag nil, Spree::AuthenticationMethod.human_attribute_name(:environment) %>
        <%= collection_select(:authentication_method, :environment, Rails.configuration.database_configuration.keys, :to_s, :titleize, {}, { class: 'select2 fullwidth' }) %>
      <% end %>
    </div>
  </div>
  <div class="alpha four columns">
    <div class="field">
      <%= f.field_container :provider do %>
        <%= f.label :provider, I18n.t('spree.social_provider') %>
        <%= f.select :provider, Spree::AuthenticationMethod.provider_options, {}, { include_blank: false, class: 'select2 fullwidth' } %>
      <% end %>
    </div>
  </div>
  <div class="alpha four columns">
    <div class="field">
      <%= f.field_container :store_id do %>
        <%= f.label :store_id, I18n.t('spree.store') %>
        <%= f.collection_select :store_id, Spree::Store.all, :id, :name, { include_blank: false, class: 'select2 fullwidth' } %>
      <% end %>
    </div>
  </div>
  <div class="alpha four columns">
    <div class="field">
      <%= f.label :site, I18n.t('spree.social_site') %>
      <%= f.text_field :site %>
    </div>
  </div>
  <div class="alpha four columns">
    <div class="field">
      <%= f.label :api_key, I18n.t('spree.social_api_key') %>
      <%= f.text_field :api_key %>
    </div>
  </div>
  <div class="alpha four columns">
    <div class="field">
      <%= f.label :api_secret, I18n.t('spree.social_api_secret') %>
      <%= f.text_field :api_secret %>
    </div>
  </div>

  <div class="alpha four columns">
    <div class="field">
      <%= f.field_container :active do %>
        <span style="padding:0 10px 2px;"><%= f.label :active, I18n.t('spree.active') %></span>
        <%= f.radio_button :active, :true %>
        <span style="padding:0 2px;"><%= I18n.t('spree.say_yes') %></span>
        <%= f.radio_button :active, :false %>
        <span style="padding:0 2px"><%= I18n.t('spree.say_no') %></span>
      <% end %>
    </div>
  </div>
</div>
