<%= render 'spree/admin/shared/configuration_menu' %>

<% admin_breadcrumb(t('spree.settings') ) %>
<% admin_breadcrumb I18n.t('spree.social_authentication_methods') %>

<% content_for :page_actions do %>
  <% if can? :manage, Spree::AuthenticationMethod %>
    <li>
      <%= link_to I18n.t('spree.new_social_method'), new_object_url, id: 'admin_new_slide_link', class: "btn btn-primary" %>
    </li>
  <% end %>
<% end %>

<% if @authentication_methods.any? %>
  <table class="index">
    <colgroup>
      <col style="width: 12%" />
      <col style="width: 23%" />
      <col style="width: 25%" />
      <col style="width: 12%" />
      <col style="width: 8%" />
      <col style="width: 20%" />
    </colgroup>
    <thead data-hook="admin_social_methods_index_headers">
      <th><%= I18n.t('spree.social_provider') %></th>
      <th><%= I18n.t('spree.social_api_key') %></th>
      <th><%= I18n.t('spree.social_api_secret') %></th>
      <th><%= I18n.t('spree.environment') %></th>
      <th class="align-center"><%= I18n.t('spree.active') %></th>
      <th data-hook="admin_social_methods_index_header_actions" class="actions"></th>
    </thead>
    <tbody>
      <% @authentication_methods.order(:provider, :environment).each do |method|%>
        <tr id="<%= dom_id method %>" data-hook="admin_trackers_index_rows">
          <td><%= method.provider.to_s.titleize %></td>
          <td><%= truncate method.api_key, length: 10 %></td>
          <td><%= truncate method.api_secret, length: 10 %></td>
          <td><%= method.environment.to_s.titleize %></td>
          <td class="align-center"><%= method.active ? I18n.t('spree.say_yes') : I18n.t('spree.say_no') %></td>
          <td class="actions">
            <% if can? :manage, Spree::AuthenticationMethod %>
              <%= link_to_edit method, no_text: true %>
              <%= link_to_delete method, no_text: true %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alpha twelve columns no-objects-found">
    <%= I18n.t('spree.no_authentication_methods_found') %>,
    <%= I18n.t('spree.add_one') %>!
  </div>
<% end %>
